body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}


/* MAIN BODY WRAP */

.content {
    display: flex;
    flex-direction: column;
}

.content a {
    color: #E5E7EB;
    text-decoration: none;
}

/* HEADER */

.front-header {
    display: flex;
    justify-content: center;
    margin: 5px 20px 110px;
}

.front-header h1 {
    flex: 1;
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    border: 0;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border: 0;
}

/* HERO CONTAINER WITH TEXT AND IMAGE */

.hero-container {
    display: flex;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 20px;
    padding: 0;
    justify-content: center;
}

.hero-boxes {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* border: 2px solid green; */
    max-width: 540px;
}

.hero-awesome {
    /* display: flex; */
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
    margin: 0;
    padding: 0 0 30px 0;
    border: 0;
}

.sub-hero {
    /* display: flex; */
    /* flex: 0 1 auto; */
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    margin: 0;
    padding: 0 0 15px 0;
    border: 0;
}

.hero-boxes button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}

.hero-button a {
    margin: -6px -35px -7px -32px;
    padding: 6px 35px 7px 32px;
}

.hero-button:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2),0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.hero-image img {
    /* border: 2px solid green; */
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 15px;
}


/* CONTAINER FOR 4 CAT PICTURES WITH TEXT AND HEADER */

.multicat-container {
    margin: 120px 0 0 0;
    background-color: white;
}

/* HEADER FOR 4 CAT PICS */

.multicat-header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 10px;
    color: #1F2937;
}

/* LIST */

.four-cats {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 80px;
    border: 0;
    padding: 0 10px 100px 10px;
    margin: 0;
}

.four-cats img {
    border-radius: 15px;
    border: 2px solid #3882F6;
}

.four-cats p {
    display: flex;
    text-align: center;
    color: #1F2937;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.orange-cat,
.multi-cat,
.fluffy-cat,
.tiger {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 204px;
    font-family: Arial, Helvetica, sans-serif;
}


/* QUOTE CONTAINER */

.quote-container {
    display: flex;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 120px 0;
    background-color: #E5E7EB;
}

/* QUOTE */

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-words p {
    font-size: 36px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F2937;
    margin: 0;
    border: 0;
    padding: 0;
}

#quote-author p {
    margin: 0;
    border: 0;
    padding: 20px 5px 0 5px;
    color: #1F2937;
}

/* CALL TO ACTION WITH SIGNUP */

.action-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    margin: 0;
    border: 0;
    padding: 90px 20px;
}

.action-bluebackground {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 0;
    border: 0;
    padding: 20px 60px;
    width: 900px;
}


/* ACTION WORDS */

.action-wordbox,
.action-header,
.action-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    margin: 5px 0;
    padding: 0;
    border: 0;
    text-wrap: wrap;
}

.action-wordbox {
    margin: 20px auto;
}

.action-text {
    font-family: Arial, Helvetica, sans-serif;
}


/* ACTION BUTTON */

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    margin: 20px auto;
    padding: 0 0 0 20px;
}

.action-button button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
}

.action-button a {
    margin: -6px -32px -7px -31px;
    padding: 6px 32px 7px 31px;
}

.final-button:hover {
    box-shadow: 0 10px 10px 0 rgba(125, 210, 216, 0.192),0 10px 10px 0 rgba(59, 105, 255, 0.288);
}


/* FOOTER */

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}